<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">cs235flix</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home_bp.home') }}">Home</a>
      </li>
      {% if 'username' not in session %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('authentication_bp.register') }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('authentication_bp.login') }}">Login</a>
      </li>
      {% endif %}
      {% if 'username' in session %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for key in genre_urls %}
            <a class="dropdown-item" href="{{ genre_urls[key] }}">{{ key }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

