{% extends 'layout.html' %} {% block content %}
	<div class="row">
<!--		<div class="col-md-12"></div>-->
		<div class="col-md-6" style="padding-left: 0px;" ss-container>
			<div class="background" style="background-image: url(https://image.tmdb.org/t/p/w342{{selected.image_hyperlink}});" >
				<div class="blur">
					<div class="row">
						<div class="col-md-12">
							<nav class="navbar navbar-expand-lg">
								<i class="fas fa-video" style="padding-right: 10px;"></i>
							  <a class="navbar-brand" name="her" href="/">cs235flix</a>
							  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							  </button>

							  <div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto">
								  <li class="nav-item active">
									<a class="nav-link" href="{{ url_for('home_bp.home') }}">Home</a>
								  </li>
								  {% if 'username' not in session %}
								  <li class="nav-item">
									<a class="nav-link" href="{{ url_for('authentication_bp.register') }}">Register</a>
								  </li>
								  <li class="nav-item">
									<a class="nav-link" href="{{ url_for('authentication_bp.login') }}">Login</a>
								  </li>
								  {% endif %}
								  {% if 'username' in session %}
								  <li class="nav-item">
									<a class="nav-link" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
								  </li>
								  {% endif %}

								</ul>
							  </div>
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='p.png') }}" ref-src="https://image.tmdb.org/t/p/w780{{selected.image_hyperlink}}" style=""/>
						</div>
						<div class="col-md-6">
							<h2 style="float: left;padding-right: 10px;">
								{{selected.title}}
							</h2>
							<h2 style="color: #7d7d7d;">
								({{selected.date}})
							</h2>
							<p style="color: #7d7d7d;"><i class="far fa-clock"></i> {{selected.runtime}} minutes</p>
							{% set half = selected.rating.split(".") %}
							<p>
							{% set halfint = half[0]|int %}
							{% set halfint2 = halfint/2|round %}
							{% set halfint3 = halfint2|int %}
							{% set total = 5 %}
							{% for i in range(halfint3) %}
								<i class="fas fa-star"></i>
							{% endfor %}
							{% if half|length == 2 %}
								<i class="fas fa-star-half-alt"></i>
								{% set total = 4 %}
							{% endif %}
							{% for i in range(total-halfint3) %}
								<i class="far fa-star"></i>
							{% endfor %}
							</p>
							<p>directed by: {{selected.director}}</p>
							<p style="font-size: 150%;">{{selected.first_para}}</p>
							<p>actors: {{selected.actors|join(', ')}}</p>
							<img src="{{ url_for('static', filename='p.png') }}" ref-src="https://image.tmdb.org/t/p/w780/{{selected.back_hyperlink}}">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h6>Similar movies.</h6>
							<div class="similar justify-content-around" style="display: flex;">
							{% for i in similar %}
							<movie class='choose' name="{{ i.id }}">
								<img id="imgback" src="{{ url_for('static', filename='p.png') }}" ref-src="https://image.tmdb.org/t/p/w92/{{i.image_hyperlink}}" />
							</movie>
							{% endfor %}
							</div>
						</div>
					</div>
					<br />
					<button class="btn btn-dark" onclick="location.href='{{ selected.add_review_url }}'">Review</button>
					<div class="row">
						<div class="col-md-12">
							<div class='movie-list'>
							{% for i in selected.reviews %}

							<div class="card text-white bg-dark mb-12 w-50">
							  <div class="card-body">
								<h5 class="card-title">{{i.username}} {{i.rating}}</h5>
								<p class="card-text">{{i.review_text}}</p>
							  </div>
							</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="rightside">
				<div class="row">
					<div class="col-md-12">
					<form id="search">
                      <div class="form-row align-items-center">
                          <div class="col-auto my-1">
                          <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </div>
                            <input type="text" class="form-control" id="searchInput" placeholder="Search">
                          </div>
                        </div>
                        <div class="col-auto my-1">
                          <select class="custom-select mr-sm-2" id="genreSelect">
                            <option selected disabled value="all">Genre</option>
                              {% for key in genre_urls %}
                            <option value="{{key}}">{{key}}</option>
                              {% endfor %}
                          </select>
                        </div>

                        <div class="col-auto my-1">
                          <button type="submit" class="btn btn-primary">Go <i class="fas fa-arrow-right"></i></button>
                        </div>
                      </div>
                    </form>
						<div class="row">
							<div class="col-md-6">
								{% if first_movie_url is not none %}
									<button type="button" class="btn btn-secondary pag" onclick="location.href='{{first_movie_url}}'"><i class="fas fa-angle-double-left"></i></button>
								{% else %}
									<button type="button" class="btn btn-secondary pag" disabled><i class="fas fa-angle-double-left"></i></button>
								{% endif %}
								{% if prev_movie_url is not none %}
									<button type="button" class="btn btn-primary pag" onclick="location.href='{{prev_movie_url}}'"><i class="fas fa-angle-left"></i></button>
								{% else %}
									<button type="button" class="btn btn-secondary pag" disabled><i class="fas fa-angle-left"></i></button>
								{% endif %}
							</div>
							<div class="col-md-6">
								{% if last_movie_url is not none %}
									<button type="button" class="btn btn-secondary pag" onclick="location.href='{{last_movie_url}}'" style="float: right;"><i class="fas fa-angle-double-right"></i></button>
								{% else %}
									<button type="button" class="btn btn-secondary pag" style="float: right;" disabled><i class="fas fa-angle-double-right"></i></button>
								{% endif %}
								{% if next_movie_url is not none %}
								<button type="button" class="btn btn-primary pag" onclick="location.href='{{next_movie_url}}'" style="float: right;"><i class="fas fa-angle-right"></i></button>
								{% else %}
									<button type="button" class="btn btn-secondary pag" style="float: right;" disabled><i class="fas fa-angle-right"></i></button>
								{% endif %}
							</div>
						</div>
				</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class='movie-list'>
						{% for i in movies %}
							<movie class='movie-item choose' name="{{ i.id }}">
							<img src="{{ url_for('static', filename='p.png') }}" ref-src='https://image.tmdb.org/t/p/w200{{ i.image_hyperlink }}'>
							</movie>
						{% endfor %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
